/* configs globais */

/* NOTE: Possível paleta de cores: #E3B505, #4F6D7A, #141225, #FF5D73, 56A3A6 */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@font-face {
    font-family: 'Codec Pro';
    src: url('https://fonts.cdnfonts.com/s/31902/CodecPro-Regular.woff');
}

:root {
  --fonte-titulo: 'Codec Pro';
  --fonte1: 'DM Sans', sans-serif;
}

/*index*/

body {
  background-color: #101728;
  font: normal 15pt Arial;
  margin: 0;
}

header {
  color: white;
}

header > p {
  padding-top: 15px;
  font-family: var(--fonte1);
  font-size: 22px;
}

.conteudo {
  color: white;
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
}

h1 {
    font-family: var(--fonte-titulo);
    line-height: 1.2;
}

.titulo > h1 {
  font-size: 90px;
}

.botao-index {
    background: linear-gradient(to left, #9340FF, #E0B1CB);
    color: black;
    font-family: var(--fonte-titulo);
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    width: 155px;
    height: 50px;
    margin-bottom: 11px;
    margin-left: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    cursor: pointer;
}

.botao-index:hover {
  background: #CCBBFF;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;  
}

.logo {
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    max-width: 45px;
}

.img-biblioteca {
  border-radius: 65px;
  margin: 55px 65px 0px 0;
  box-shadow: 0px 15px 70px #9340FF;
}

/* cadastro */

.cabecalho-cadastro {
  font-family: var(--fonte-titulo);
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  color: white;
}

.buttons-container {
  text-align: center;
}

.botao-cadastro {
    background: linear-gradient(to left, #9340FF, #E0B1CB);
    color: black;
    font-family: var(--fonte-titulo);
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    width: 155px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 11px;
    margin-left: 10px;
    padding: 15px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    cursor: pointer;
}

.botao-cadastro:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* login */

.main-login {
  text-align: center;
  width: 100%;
  margin: 0px 0;
}

.cabecalho-login {
  font-family: var(--fonte-titulo);
  color: white;
  text-align: center;
}

.formulario-login {
  display: inline-block;
  width: 200px;
  text-align: center;
}

.botao-login {
    background: linear-gradient(to left, #9340FF, #E0B1CB);
    color: black;
    font-family: var(--fonte-titulo);
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    width: 155px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 11px;
    margin-left: 10px;
    padding: 15px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    cursor: pointer;
}

.botao-login:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* pagina inicial */

.cabecalho-pagina-inicial {
  background-color: #16213B;
  height: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.logo-titulo {
  display: flex;
}

.wrapper {
  display: flex;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
}

/* input[type="text"] {
  width: 100%;
  padding: 5px 30px 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
} */

button[type="submit"] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}

button[type="submit"] i {
  font-size: 16px;
  color: #555;
}

button[type="submit"] i:hover {
  color: #000;
}

.pesquisar {
  margin: 10px 20px 0px 0px;
  background-color: white;
  border: solid 1px;
  width: 250px;
  height: 40px;
}

.pesquisar > img {
  max-width: 36px;
}

.pesquisa {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 38px;
  width: 200px;
}

.titulo-livros > h1 {
  color: white;
  margin-left: 44px;
}

ul#lista-livros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.livro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  width: 200px;
  height: 300px;
}

.livro img {
  width: 150px;
  height: 200px;
}
  
.livro h3 {
  font-size: 18px;
  color: white;
  margin: 5px 0;
}
  
.livro p {
  margin: 5px 0;
  font-size: 14px;
  color: white;
}

/* perfil */

.profile-body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #101728;
}

.profile-header {
	background-color: #16213b;
	color: #fff;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.user-info {
	display: flex;
	align-items: center;
}

.icon {
  padding: 15px;
}

.buttons button {
  justify-content: center;
  align-items: center;
	background-color: #0077b6;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-right: 15px;
  margin-left: 1px;
  cursor: pointer;
}

.buttons button i {
	font-size: 20px;
	margin-right: 5px;
}

.burger {
  position: relative;
  z-index: 3;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: 0;
  width: 80px;
  height: 80px;
  padding-left: 10px;
  font-size: 30px;
  color: #f9f9f9;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.burger i:last-child {
  display: none;
}

body.open .burger i:first-child {
  display: none;
}

body.open .burger i:last-child {
  display: block;
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(27 32 44 / 70%);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

body.open .overlay {
  visibility: visible;
  opacity: 1;
}

aside {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100%;
  padding: 18px 20px 20px;
  background: #272e3c;
  box-shadow: 0 0 20px rgb(0 0 0 / 70%);
  translate: 100% 0;
  transition: 0.3s;
}

body.open aside {
  translate: 0;
}

aside a {
  display: flex;
  align-items: center;
  height: 50px;
}

/* cadastro de livros */

.offcanvas-header {
  background-color: #101728;
  color: #fff;
}

.form-control {
  background-color: #fff;
  color: #101728;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.card {
  border: none;
}

.card-header {
  font-weight: bold;
}

.icon-trash {
  display: inline;
  float: right;
}

.card-body {
  margin-top: 10px;
}

.fw-bold {
  font-weight: bold;
}

.text-center {
  color: white;
}